{
    "openapi": "3.1.0",
    "info": {
        "title": "PickSports API v2",
        "version": "2.0.0",
        "description": "Generated route-level OpenAPI artifact for the PickSports Laravel API v2 surface. Response schemas are intentionally generic; contract tests and API resources remain the detailed payload authority."
    },
    "servers": [
        {
            "url": "https://picksports.app"
        }
    ],
    "tags": [
        {
            "name": "Admin"
        },
        {
            "name": "Alert Preferences"
        },
        {
            "name": "Auth"
        },
        {
            "name": "CBB Brackets"
        },
        {
            "name": "Groups"
        },
        {
            "name": "Live Scoreboard"
        },
        {
            "name": "Sport Data"
        },
        {
            "name": "Sports"
        },
        {
            "name": "User Bets"
        }
    ],
    "paths": {
        "/api/v2/admin/payload-inspector": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "operationId": "v2_admin_payload_inspector",
                "summary": "GET Admin Payload Inspector",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/alert-preferences": {
            "get": {
                "tags": [
                    "Alert Preferences"
                ],
                "operationId": "v2_alert_preferences_show",
                "summary": "GET Alert Preferences Show",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Alert Preferences"
                ],
                "operationId": "v2_alert_preferences_store",
                "summary": "POST Alert Preferences Store",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Alert Preferences"
                ],
                "operationId": "v2_alert_preferences_update",
                "summary": "PUT Alert Preferences Update",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_login",
                "summary": "POST Auth Login",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_logout",
                "summary": "POST Auth Logout",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/auth/logout-all": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_logout_all",
                "summary": "POST Auth Logout All",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/auth/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_me",
                "summary": "GET Auth Me",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/auth/passkeys/options": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_passkeys_options",
                "summary": "POST Auth Passkeys Options",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/auth/passkeys/verify": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_passkeys_verify",
                "summary": "POST Auth Passkeys Verify",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/cbb-brackets": {
            "get": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_index",
                "summary": "GET Cbb Brackets Index",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_store",
                "summary": "POST Cbb Brackets Store",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/cbb-brackets/current": {
            "get": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_current_show",
                "summary": "GET Cbb Brackets Current Show",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_current_upsert",
                "summary": "PUT Cbb Brackets Current Upsert",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/cbb-brackets/leaderboard": {
            "get": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_leaderboard",
                "summary": "GET Cbb Brackets Leaderboard",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/cbb-brackets/{publicId}": {
            "delete": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_destroy",
                "summary": "DELETE Cbb Brackets Destroy",
                "parameters": [
                    {
                        "name": "publicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_show",
                "summary": "GET Cbb Brackets Show",
                "parameters": [
                    {
                        "name": "publicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_update",
                "summary": "PATCH Cbb Brackets Update",
                "parameters": [
                    {
                        "name": "publicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/groups": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "operationId": "v2_groups_index",
                "summary": "GET Groups Index",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Groups"
                ],
                "operationId": "v2_groups_store",
                "summary": "POST Groups Store",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/groups/{publicId}": {
            "patch": {
                "tags": [
                    "Groups"
                ],
                "operationId": "v2_groups_update",
                "summary": "PATCH Groups Update",
                "parameters": [
                    {
                        "name": "publicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/live-scoreboard": {
            "get": {
                "tags": [
                    "Live Scoreboard"
                ],
                "operationId": "v2_live_scoreboard_show",
                "summary": "GET Live Scoreboard Show",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports": {
            "get": {
                "tags": [
                    "Sports"
                ],
                "operationId": "v2_sports_index",
                "summary": "GET Sports Index",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/sports/{sport}": {
            "get": {
                "tags": [
                    "Sports"
                ],
                "operationId": "v2_sports_show",
                "summary": "GET Sports Show",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericJsonResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/api/v2/sports/{sport}/forecasts": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_forecasts_index",
                "summary": "GET Sports Forecasts Index",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "as_of_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/games": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_games_index",
                "summary": "GET Sports Games Index",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/games/{game}": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_games_show",
                "summary": "GET Sports Games Show",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "game",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string"
                                }
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/games/{game}/depth-charts": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_games_depth_charts_show",
                "summary": "GET Sports Games Depth Charts Show",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "game",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string"
                                }
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/games/{game}/player-props": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_games_player_props_index",
                "summary": "GET Sports Games Player Props Index",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "game",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string"
                                }
                            ]
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "game_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "market",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bookmaker",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "recommended_side",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/games/{game}/prediction": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_games_prediction_show",
                "summary": "GET Sports Games Prediction Show",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "game",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "string"
                                }
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/injuries": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_injuries_index",
                "summary": "GET Sports Injuries Index",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "team_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/leaderboards/players": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_leaderboards_players_index",
                "summary": "GET Sports Leaderboards Players Index",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "season_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "stat_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "min_games",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/leaderboards/players/available-seasons": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_leaderboards_players_available_seasons",
                "summary": "GET Sports Leaderboards Players Available Seasons",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "season_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "stat_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "min_games",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/markets/futures": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_markets_futures_index",
                "summary": "GET Sports Markets Futures Index",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "market_key",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bookmaker",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "team_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "event_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "outcome_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/markets/player-props": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_markets_player_props_index",
                "summary": "GET Sports Markets Player Props Index",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "game_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "market",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bookmaker",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "recommended_side",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/metrics/teams": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_metrics_teams_index",
                "summary": "GET Sports Metrics Teams Index",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "season_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "team_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/metrics/teams/available-seasons": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_metrics_teams_available_seasons",
                "summary": "GET Sports Metrics Teams Available Seasons",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "season_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "team_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/player-props": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_player_props_index",
                "summary": "GET Sports Player Props Index",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "game_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "market",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bookmaker",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "recommended_side",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SportCollectionResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportItemResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SportCustomResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/player-props/board": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_player_props_board",
                "summary": "GET Sports Player Props Board",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "game_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "market",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bookmaker",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "recommended_side",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
[...]
