{
    "openapi": "3.1.0",
    "info": {
        "title": "PickSports API v2",
        "version": "2.0.0",
        "description": "Generated OpenAPI artifact for the PickSports Laravel API v2 surface. Every operation uses a named request and response contract; sport-dependent aggregate fields remain explicitly extensible where their shape varies by provider or league."
    },
    "servers": [
        {
            "url": "https://picksports.app"
        }
    ],
    "tags": [
        {
            "name": "Admin"
        },
        {
            "name": "Alert Preferences"
        },
        {
            "name": "Auth"
        },
        {
            "name": "CBB Brackets"
        },
        {
            "name": "Groups"
        },
        {
            "name": "Live Scoreboard"
        },
        {
            "name": "Sport Data"
        },
        {
            "name": "Sports"
        },
        {
            "name": "User Bets"
        }
    ],
    "paths": {
        "/api/v2/admin/payload-inspector": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "operationId": "v2_admin_payload_inspector",
                "summary": "GET Admin Payload Inspector",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PayloadInspectorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:read"
                        ]
                    }
                ]
            }
        },
        "/api/v2/alert-preferences": {
            "get": {
                "tags": [
                    "Alert Preferences"
                ],
                "operationId": "v2_alert_preferences_show",
                "summary": "GET Alert Preferences Show",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AlertPreferenceResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Alert Preferences"
                ],
                "operationId": "v2_alert_preferences_store",
                "summary": "POST Alert Preferences Store",
                "parameters": [
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "required": false,
                        "description": "Client-generated retry key, scoped to the authenticated principal and operation for 24 hours by default.",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "pattern": "^[!-~]{1,255}$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AlertPreferenceResponse"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AlertPreferenceResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "409": {
                        "$ref": "#/components/responses/IdempotencyConflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AlertPreferenceStoreRequest"
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Alert Preferences"
                ],
                "operationId": "v2_alert_preferences_update",
                "summary": "PUT Alert Preferences Update",
                "parameters": [
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "required": false,
                        "description": "Client-generated retry key, scoped to the authenticated principal and operation for 24 hours by default.",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "pattern": "^[!-~]{1,255}$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AlertPreferenceResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "409": {
                        "$ref": "#/components/responses/IdempotencyConflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AlertPreferenceUpdateRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/auth/device-sessions": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_device_sessions_store",
                "summary": "POST Auth Device Sessions Store",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NativeDeviceTokenResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NativeDeviceSessionStoreRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/auth/device-sessions/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_device_sessions_refresh",
                "summary": "POST Auth Device Sessions Refresh",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NativeDeviceTokenResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NativeDeviceSessionRefreshRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/auth/device-sessions/{deviceSession}": {
            "delete": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_device_sessions_destroy",
                "summary": "DELETE Auth Device Sessions Destroy",
                "parameters": [
                    {
                        "name": "deviceSession",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 26,
                            "maxLength": 26,
                            "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                        }
                    },
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "required": false,
                        "description": "Client-generated retry key, scoped to the authenticated principal and operation for 24 hours by default.",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "pattern": "^[!-~]{1,255}$"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/IdempotencyConflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ]
            }
        },
        "/api/v2/auth/device-sessions/{deviceSession}/push-registrations": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_device_sessions_push_registrations_store",
                "summary": "POST Auth Device Sessions Push Registrations Store",
                "parameters": [
                    {
                        "name": "deviceSession",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 26,
                            "maxLength": 26,
                            "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                        }
                    },
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "required": false,
                        "description": "Client-generated retry key, scoped to the authenticated principal and operation for 24 hours by default.",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "pattern": "^[!-~]{1,255}$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NativePushRegistrationResponse"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NativePushRegistrationResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "409": {
                        "$ref": "#/components/responses/IdempotencyConflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NativePushRegistrationStoreRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/auth/device-sessions/{deviceSession}/push-registrations/{provider}": {
            "delete": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_device_sessions_push_registrations_destroy",
                "summary": "DELETE Auth Device Sessions Push Registrations Destroy",
                "parameters": [
                    {
                        "name": "deviceSession",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 26,
                            "maxLength": 26,
                            "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
                        }
                    },
                    {
                        "name": "provider",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "apns",
                                "fcm"
                            ]
                        }
                    },
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "required": false,
                        "description": "Client-generated retry key, scoped to the authenticated principal and operation for 24 hours by default.",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "pattern": "^[!-~]{1,255}$"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/IdempotencyConflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ]
            }
        },
        "/api/v2/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_login",
                "summary": "POST Auth Login",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenAuthResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_logout",
                "summary": "POST Auth Logout",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ]
            }
        },
        "/api/v2/auth/logout-all": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_logout_all",
                "summary": "POST Auth Logout All",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ]
            }
        },
        "/api/v2/auth/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_me",
                "summary": "GET Auth Me",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthUserResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:read"
                        ]
                    }
                ]
            }
        },
        "/api/v2/auth/passkeys/options": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_passkeys_createOptions",
                "summary": "POST Auth Passkeys Createoptions",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PasskeyAuthenticationOptionsResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PasskeyAuthenticationOptionsRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/auth/passkeys/verify": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "v2_auth_passkeys_verify",
                "summary": "POST Auth Passkeys Verify",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenAuthResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PasskeyAuthenticationVerifyRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/cbb-brackets": {
            "get": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_index",
                "summary": "GET Cbb Brackets Index",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CbbBracketCollectionResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_store",
                "summary": "POST Cbb Brackets Store",
                "parameters": [
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "required": false,
                        "description": "Client-generated retry key, scoped to the authenticated principal and operation for 24 hours by default.",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "pattern": "^[!-~]{1,255}$"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CbbBracketResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "409": {
                        "$ref": "#/components/responses/IdempotencyConflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CbbBracketStoreRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/cbb-brackets/current": {
            "get": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_current_show",
                "summary": "GET Cbb Brackets Current Show",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NullableCbbBracketResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:read"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_current_upsert",
                "summary": "PUT Cbb Brackets Current Upsert",
                "parameters": [
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "required": false,
                        "description": "Client-generated retry key, scoped to the authenticated principal and operation for 24 hours by default.",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "pattern": "^[!-~]{1,255}$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CbbBracketResponse"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CbbBracketResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "409": {
                        "$ref": "#/components/responses/IdempotencyConflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CbbBracketUpsertRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/cbb-brackets/leaderboard": {
            "get": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_leaderboard",
                "summary": "GET Cbb Brackets Leaderboard",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CbbBracketLeaderboardResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:read"
                        ]
                    }
                ]
            }
        },
        "/api/v2/cbb-brackets/{publicId}": {
            "delete": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_destroy",
                "summary": "DELETE Cbb Brackets Destroy",
                "parameters": [
                    {
                        "name": "publicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "required": false,
                        "description": "Client-generated retry key, scoped to the authenticated principal and operation for 24 hours by default.",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "pattern": "^[!-~]{1,255}$"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/IdempotencyConflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ]
            },
            "get": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_show",
                "summary": "GET Cbb Brackets Show",
                "parameters": [
                    {
                        "name": "publicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CbbBracketResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:read"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "CBB Brackets"
                ],
                "operationId": "v2_cbb_brackets_update",
                "summary": "PATCH Cbb Brackets Update",
                "parameters": [
                    {
                        "name": "publicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "required": false,
                        "description": "Client-generated retry key, scoped to the authenticated principal and operation for 24 hours by default.",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "pattern": "^[!-~]{1,255}$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CbbBracketResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "409": {
                        "$ref": "#/components/responses/IdempotencyConflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CbbBracketUpdateRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/developer/sandbox": {
            "get": {
                "tags": [
                    "Sports"
                ],
                "operationId": "v2_developer_sandbox_show",
                "summary": "GET Developer Sandbox Show",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp when the monthly entitlement quota resets.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "RateLimit-Policy": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeveloperSandboxResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "developerApiCredential": []
                    }
                ]
            }
        },
        "/api/v2/groups": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "operationId": "v2_groups_index",
                "summary": "GET Groups Index",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupCollectionResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Groups"
                ],
                "operationId": "v2_groups_store",
                "summary": "POST Groups Store",
                "parameters": [
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "required": false,
                        "description": "Client-generated retry key, scoped to the authenticated principal and operation for 24 hours by default.",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "pattern": "^[!-~]{1,255}$"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "409": {
                        "$ref": "#/components/responses/IdempotencyConflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GroupStoreRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/groups/{publicId}": {
            "patch": {
                "tags": [
                    "Groups"
                ],
                "operationId": "v2_groups_update",
                "summary": "PATCH Groups Update",
                "parameters": [
                    {
                        "name": "publicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "required": false,
                        "description": "Client-generated retry key, scoped to the authenticated principal and operation for 24 hours by default.",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "pattern": "^[!-~]{1,255}$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            },
                            "Idempotency-Replayed": {
                                "description": "Whether this response was replayed from an earlier completed request.",
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Idempotency-Key-Expires-At": {
                                "description": "Expiry of the persisted retry result.",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "409": {
                        "$ref": "#/components/responses/IdempotencyConflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GroupUpdateRequest"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/live-scoreboard": {
            "get": {
                "tags": [
                    "Live Scoreboard"
                ],
                "operationId": "v2_live_scoreboard_show",
                "summary": "GET Live Scoreboard Show",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LiveScoreboardResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:read"
                        ]
                    }
                ]
            }
        },
        "/api/v2/sports": {
            "get": {
                "tags": [
                    "Sports"
                ],
                "operationId": "v2_sports_index",
                "summary": "GET Sports Index",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SportCatalogResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/sports/{sport}": {
            "get": {
                "tags": [
                    "Sports"
                ],
                "operationId": "v2_sports_show",
                "summary": "GET Sports Show",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SportContextResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/api/v2/sports/{sport}/daily-picks": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_daily_picks_index",
                "summary": "GET Sports Daily Picks Index",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MlbDailyPicksResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:read"
                        ]
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/forecasts": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_forecasts_index",
                "summary": "GET Sports Forecasts Index",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "as_of_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SportForecastResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:read"
                        ]
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/games": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_games_index",
                "summary": "GET Sports Games Index",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
                                "wnba",
                                "mlb",
                                "nfl",
                                "cbb",
                                "wcbb",
                                "cfb"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "headers": {
                            "X-Request-ID": {
                                "description": "Request correlation identifier accepted from a safe client value or generated by the server.",
                                "schema": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SportGameCollectionResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "sanctumBearer": []
                    },
                    {
                        "nativeOAuth": [
                            "mobile:read"
                        ]
                    }
                ]
            }
        },
        "/api/v2/sports/{sport}/games/{game}": {
            "get": {
                "tags": [
                    "Sport Data"
                ],
                "operationId": "v2_sports_games_show",
                "summary": "GET Sports Games Show",
                "parameters": [
                    {
                        "name": "sport",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nba",
[...]
